.btn{
    background-color: #1ab7ee;
    font-family: 'Lora', serif;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: bold;
    
}    
a:hover{
    text-decoration: underline;
}
